In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [6]:
# Creating a DataFrame
bridges_types=('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df=pd.DataFrame(bridges_types,columns=['Bridge Types'])

In [2]:
bridge_df['Bridge Types']=bridge_df['Bridge Types'].astype('category') #converting type of columns to category variable
bridge_df['Bridge Types Category']=bridge_df['Bridge Types'].cat.codes #assigning numerical values in another column
bridge_df

  Bridge Types  Bridge Types Category
0         Arch                      0
1         Beam                      1
2        Truss                      6
3   Cantilever                      3
4    Tied Arch                      5
5   Suspension                      4
6        Cable                      2

In [3]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder() #creating instance of labelencoder
bridge_df['Bridge Types Category']=labelencoder.fit_transform(bridge_df['Bridge Types'])
bridge_df

  Bridge Types  Bridge Types Category
0         Arch                      0
1         Beam                      1
2        Truss                      6
3   Cantilever                      3
4    Tied Arch                      5
5   Suspension                      4
6        Cable                      2

In [4]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(handle_unknown='ignore')
onehotencoder_df=pd.DataFrame(onehotencoder.fit_transform(bridge_df[['Bridge Types Category']]).toarray())
bridge_df=bridge_df.join(onehotencoder_df)
bridge_df

  Bridge Types  Bridge Types Category    0    1    2    3    4    5    6
0         Arch                      0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Beam                      1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2        Truss                      6  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3   Cantilever                      3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    Tied Arch                      5  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5   Suspension                      4  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6        Cable                      2  0.0  0.0  1.0  0.0  0.0  0.0  0.0